name: Tests + Code Analysis

on:
  push:
  #  branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  analyze:
    name: Analyze Code
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: python

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3

  tests-linux:
    name: Unit Tests (GNU/Linux)
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install aspell (en)
      run: |
        sudo apt-get update
        sudo apt-get install -y aspell aspell-en

    - name: Download bap
      run: |
        wget https://github.com/ietf-tools/bap/archive/refs/heads/master.zip
        unzip -q master.zip -d /tmp/bap

    - name: Build bap
      working-directory: /tmp/bap/bap-master/
      run: |
        sudo apt-get install -y bison flex libfl-dev
        sudo ./configure
        sudo make
        sudo cp aex bap /bin
      
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install tox tox-gh-actions
        
    - name: Test with tox
      env:
        PLATFORM: ${{ matrix.platform }}
      run: tox
